@model IT703_A2_TomiveCorp_HotelManagement.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MethodOfBooking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MethodOfBooking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checked_In)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checked_In)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checked_Out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checked_Out)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAdults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAdults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfChildren)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfChildren)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarPark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarPark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositRecievedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositRecievedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentRecievedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentRecievedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.GuestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
